 .queue {
	&-enter {
		max-height:0;
		opacity:0;
		padding:0 !important;
		@include translate(-120%, 0);
		@include transition(all, 0.5s, ease-in-out);

		&-active {
			max-height:60px;
			opacity:1;
			padding:10px !important;
			@include translate(0, 0);
		}
	}
	&-leave {
		max-height:60px;
		opacity:1;
		padding:10px !important;
		@include translate(0, 0);
		@include transition(all, 0.5s, ease-in-out);

		&-active {
			max-height:0;
			opacity:0;
			padding:0 !important;
			@include translate(120%, 0);
		}
	}
} 

.browse {
	&-enter {
		max-height:0;
		padding:0 !important;
		@include translate(-120%, 0);
		@include transition(all, 0.5s, ease-in-out);

		&-active {
			max-height:60px;
			padding:10px !important;
			@include translate(0, 0);
		}
	}
	&-leave {
		max-height:60px;
		padding:10px !important;
		@include translate(0, 0);
		@include transition(all, 0.5s, ease-in-out);

		&-active {
			max-height:0;
			padding:0 !important;
			@include translate(120%, 0);
		}
	}
}