.app {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	padding:0 50px;

	.react-swipeable-view-container {
		height:100%;
		> div {
			position:relative;
			&:first-child::before {
				content:none;
			}
			&::before {
				content:" ";
				position:absolute;
				width:4px;
				height:40px;
				background:$textColor;
				opacity:0.5;
				left:-2px;
				top:50%;
				margin-top:-20px;
				@include border-radius(2px);
			}
		}
	}

	&-header {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		z-index:10;
		background:rgba($mainColor, 0.9);
		text-align:center;
		padding:10px 50px;
		height:60px;
		&-back {
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:50px;
			text-align:center;
		}
	}
	
	&-search {
		&-input {
			background:#fff;
			color:#000;
			display:block;
			width:100%;
			font-size:1.6em;
			line-height:20px;
			padding:10px;
			@include border-radius(20px);
			@include box-sizing(border-box);

			&:focus {
				-webkit-box-shadow: inset 0px 0px 0px 4px #efefef;
				-moz-box-shadow: inset 0px 0px 0px 4px #efefef;
				box-shadow: inset 0px 0px 0px 4px #efefef;
			}
		}
	}

	&-swiper {
		width:calc(100% + 50px);
		height:100%;
		padding-top:60px;
		overflow:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	&-browse {
		margin-left:-50px;
		padding-right:8px;
		
		&-list {
			
		}
	}
	&-queue {
		padding-left:8px;
		padding-top:68px;
		overflow:hidden;
		&-list {
			background:$bgColor;
			margin-top:8px;
			height:100%;
			overflow-y:scroll;
			position:relative;
		}
		&-container {
			position:relative;
			padding-top:56.25%;
			height:100%;
			padding-bottom:48px;
		}
		&-replay {
			position:absolute;
			bottom:50%;
			left:50%;
			width:50px;
			height:50px;
			margin:0 0 0 -25px;
		}
	}
	&-toggle {
		position:absolute;
		bottom:0;
		height:40px;
		width:100%;
		background:$bgColor;
		&-btn {
			width:50%;
			height:100%;
			float:left;
			color:$textColor;
			display:block;
			border-top:$bodyColor 4px solid;
			font-family:"Roboto";
			text-transform:uppercase;
			letter-spacing:2px;
			font-size:1em;
			&:hover {
				background:$bgColorHover;
			}
			&--active {
				border-color:$mainColor;
			}
		}
	}
}

@media (min-width: 660px) {
	.app {
		padding:0 100px;

		&-swiper {
			width:calc(100% + 100px);
		}
		
		&-browse {
			margin-left:-100px;
		}


	}
}

@media (min-width: 1000px) {
	.app {
		padding:0;
		.react-swipeable-view-container {
			transform:translate(0) !important;
			> div {
				width:50% !important;

				&::before {
					content:none;
				}
			}
		}

		&-swiper {
			width:100%;
		}
		
		&-browse {
			margin-left:0;
			padding-right:10px;
		}
		&-queue {
			padding-left:10px;
			padding-top:60px;
			&-list {
				margin-top:20px;
				padding-bottom:20px;
			}
		}
		

	}
}

@media (min-width: 1200px) {
	.app {
		padding:0;
		.react-swipeable-view-container {
			> div {
				width:40% !important;

				&:nth-child(even){
					width:60% !important;
				}
			}
		}

		&-swiper {
			width:100%;
		}
		
		&-browse {
			margin-left:0;
			padding-right:10px;
		}
		&-queue {
			padding-left:10px;
		}
		

	}
}