.browse {
	&-list {
		background:$bgColor;
		color:$textColor;
		min-height:100%;
	}	
	&-item {
		padding:10px;
		border-bottom:1px solid $bgColorHover;
		overflow:hidden;
		clear:both;
		position:relative;

		&-image {
			width:80px;
			float:left;
		}
		&-title {
			font-size:1.4em;
			padding:2px 0 0 90px;
			font-weight:400;
		}
		&-play {
			position:absolute;
			top:0;
			right:0;
			height:100%;
		}
		&:hover,
		&:focus {
			outline:none;
			background:$bgColorHover;
		}
		&--inqueue {
			max-height:0 !important;
			padding:0 !important;
			border:none !important;
		}
	}
}