﻿.dashboard {
	text-align:center;
	padding:40px 20px;
	color:$textColor;

	&-title {
		font-size:2.6em;
		margin-bottom:1em;
	}
	&-browse{
		display:block;
		width:100%;
		text-align:center;
		font-family:"Roboto";
		font-size:1.6em;
		padding:20px 10px;
		background:$mainColor;
		@include border-radius(4px);
		@include box-sizing(border-box);
	}

	&-subtitle {
		font-weight:normal;
		margin-top:2em;
		font-size:1.6em;
	}

}