.container {
	display: block;
	max-width:1280px;
	margin:0 auto;
}

.btn {
	
}
.icon {
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;

	&--left {
		background-image:url('../img/left.svg');
		width:30px;
		height:30px;
	}
}

.replay {
	background-image:url('../img/replay.svg');
	width:50px;
	height:50px;
	text-indent:-9999px;
}

.error {
	margin:120px 0;
	color:#fff;
	font-size:4em;
	text-align:center;
	strong {
		font-size:3em;
		display:block;
	}
}