@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($type) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($what, $time, $timing) {
    -moz-transition: $what $timing $time;
    -o-transition: $what $timing $time;
    -webkit-transition: $what $timing $time;
    transition: $what $timing $time;
}

@mixin translate($x, $y) {
  -ms-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}