.player {
	width:100%;
	height:0;
	padding-top:56.25%;
	position:absolute;
	top:0;
	left:0;
	background:$bgColor;
	&-iframe {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

