.queue {
	&-list {
		padding:20px;
		list-style:none;
	}	
	&-item {
		padding:10px;
		border-bottom:1px solid $bgColorHover;
		color:$textColor;
		overflow:hidden;
		clear:both;
		position:relative;
		cursor:pointer;
		list-style:none;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none;

		&--history {
			color:#666;
			cursor:default;
			&:hover,
			&:focus {
				background:transparent !important;
			}
		}

		&--playing {
			border-left:5px solid $mainColor;
		}
		&--paused {
			border-left:5px solid transparent;
		}
		&--active {
			cursor:default;
			.queue-item {
				&-title {
					padding:0;
					font-size:1.6em;
					white-space: normal;
				}
				&-duration {
					top:16px;
				}

			}
		}
		&-title {
			font-size:1.2em;
			line-height:1.4em;
			font-weight:400;
			padding-right:40px;
			overflow: hidden;
    		white-space: nowrap;
			text-overflow: ellipsis;
		}
		&-duration {
			position:absolute;
			right:10px;
			top:10px;
			opacity:1;
			@include transition(opacity, 0.25s, ease-in-out);
		}
		&-remove {
			position:absolute;
			top:0;
			right:-50px;
			width:44px;
			height:100%;
			@include transition(right, 0.25s, ease-in-out);
			span {
				background:$deleteColor;
				color:#fff;
				width:20px;
				height:20px;
				line-height:18px;
				display:inline-block;
				@include border-radius(50%);
			}
		}

		&:hover,
		&:focus {
			outline:none;
			background:$bgColorHover;
		}
		&:hover {
			.queue-item {
				&-remove {
					right:0;
				}
				&-duration {
					opacity:0;
				}
			}
		}
	}
}

.touch {
	.queue {
		&-item {
			&-duration {
				display:none;
			}
			&-remove {
				right:0;
			}
		}
	}
}