﻿@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,400i,500i,700i');

html {
	font: 62.5%/1.4 'Roboto Slab', sans-serif;
}

h1,h2,h3,h4 {
	font-family:'Roboto';
	font-style:italic;
	font-weight:700;
}