/*** RESET ***/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,400i,500i,700i");
html, body, div, span, applet, object, iframe, main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

ul, li {
  list-style-image: none;
  margin: 0; }

b, strong {
  font-weight: 800; }

em, i {
  font-style: italic; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"], button {
  cursor: pointer; }

.screen-reader-text {
  display: none; }

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  button:focus,
  input:focus,
  textarea:focus {
    outline: none; }

/*** END RESET ***/
html {
  font: 62.5%/1.4 'Roboto Slab', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700; }

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto; }

.icon {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block; }
  .icon--left {
    background-image: url("../img/left.svg");
    width: 30px;
    height: 30px; }

.replay {
  background-image: url("../img/replay.svg");
  width: 50px;
  height: 50px;
  text-indent: -9999px; }

.error {
  margin: 120px 0;
  color: #fff;
  font-size: 4em;
  text-align: center; }
  .error strong {
    font-size: 3em;
    display: block; }

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 50px; }
  .app .react-swipeable-view-container {
    height: 100%; }
    .app .react-swipeable-view-container > div {
      position: relative; }
      .app .react-swipeable-view-container > div:first-child::before {
        content: none; }
      .app .react-swipeable-view-container > div::before {
        content: " ";
        position: absolute;
        width: 4px;
        height: 40px;
        background: #ccc;
        opacity: 0.5;
        left: -2px;
        top: 50%;
        margin-top: -20px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px; }
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(229, 45, 39, 0.9);
    text-align: center;
    padding: 10px 50px;
    height: 60px; }
    .app-header-back {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50px;
      text-align: center; }
  .app-search-input {
    background: #fff;
    color: #000;
    display: block;
    width: 100%;
    font-size: 1.6em;
    line-height: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .app-search-input:focus {
      -webkit-box-shadow: inset 0px 0px 0px 4px #efefef;
      -moz-box-shadow: inset 0px 0px 0px 4px #efefef;
      box-shadow: inset 0px 0px 0px 4px #efefef; }
  .app-swiper {
    width: calc(100% + 50px);
    height: 100%;
    padding-top: 60px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .app-browse {
    margin-left: -50px;
    padding-right: 8px; }
  .app-queue {
    padding-left: 8px;
    padding-top: 68px;
    overflow: hidden; }
    .app-queue-list {
      background: #151515;
      margin-top: 8px;
      height: 100%;
      overflow-y: scroll;
      position: relative; }
    .app-queue-container {
      position: relative;
      padding-top: 56.25%;
      height: 100%;
      padding-bottom: 48px; }
    .app-queue-replay {
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin: 0 0 0 -25px; }
  .app-toggle {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #151515; }
    .app-toggle-btn {
      width: 50%;
      height: 100%;
      float: left;
      color: #ccc;
      display: block;
      border-top: #000 4px solid;
      font-family: "Roboto";
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1em; }
      .app-toggle-btn:hover {
        background: #222; }
      .app-toggle-btn--active {
        border-color: #e52d27; }

@media (min-width: 660px) {
  .app {
    padding: 0 100px; }
    .app-swiper {
      width: calc(100% + 100px); }
    .app-browse {
      margin-left: -100px; } }

@media (min-width: 1000px) {
  .app {
    padding: 0; }
    .app .react-swipeable-view-container {
      transform: translate(0) !important; }
      .app .react-swipeable-view-container > div {
        width: 50% !important; }
        .app .react-swipeable-view-container > div::before {
          content: none; }
    .app-swiper {
      width: 100%; }
    .app-browse {
      margin-left: 0;
      padding-right: 10px; }
    .app-queue {
      padding-left: 10px;
      padding-top: 60px; }
      .app-queue-list {
        margin-top: 20px;
        padding-bottom: 20px; } }

@media (min-width: 1200px) {
  .app {
    padding: 0; }
    .app .react-swipeable-view-container > div {
      width: 40% !important; }
      .app .react-swipeable-view-container > div:nth-child(even) {
        width: 60% !important; }
    .app-swiper {
      width: 100%; }
    .app-browse {
      margin-left: 0;
      padding-right: 10px; }
    .app-queue {
      padding-left: 10px; } }

.dashboard {
  text-align: center;
  padding: 40px 20px;
  color: #ccc; }
  .dashboard-title {
    font-size: 2.6em;
    margin-bottom: 1em; }
  .dashboard-browse {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.6em;
    padding: 20px 10px;
    background: #e52d27;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .dashboard-subtitle {
    font-weight: normal;
    margin-top: 2em;
    font-size: 1.6em; }

.browse-list {
  background: #151515;
  color: #ccc;
  min-height: 100%; }

.browse-item {
  padding: 10px;
  border-bottom: 1px solid #222;
  overflow: hidden;
  clear: both;
  position: relative; }
  .browse-item-image {
    width: 80px;
    float: left; }
  .browse-item-title {
    font-size: 1.4em;
    padding: 2px 0 0 90px;
    font-weight: 400; }
  .browse-item-play {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
  .browse-item:hover, .browse-item:focus {
    outline: none;
    background: #222; }
  .browse-item--inqueue {
    max-height: 0 !important;
    padding: 0 !important;
    border: none !important; }

.queue-list {
  padding: 20px;
  list-style: none; }

.queue-item {
  padding: 10px;
  border-bottom: 1px solid #222;
  color: #ccc;
  overflow: hidden;
  clear: both;
  position: relative;
  cursor: pointer;
  list-style: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  .queue-item--history {
    color: #666;
    cursor: default; }
    .queue-item--history:hover, .queue-item--history:focus {
      background: transparent !important; }
  .queue-item--playing {
    border-left: 5px solid #e52d27; }
  .queue-item--paused {
    border-left: 5px solid transparent; }
  .queue-item--active {
    cursor: default; }
    .queue-item--active .queue-item-title {
      padding: 0;
      font-size: 1.6em;
      white-space: normal; }
    .queue-item--active .queue-item-duration {
      top: 16px; }
  .queue-item-title {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 400;
    padding-right: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .queue-item-duration {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1;
    -moz-transition: opacity ease-in-out 0.25s;
    -o-transition: opacity ease-in-out 0.25s;
    -webkit-transition: opacity ease-in-out 0.25s;
    transition: opacity ease-in-out 0.25s; }
  .queue-item-remove {
    position: absolute;
    top: 0;
    right: -50px;
    width: 44px;
    height: 100%;
    -moz-transition: right ease-in-out 0.25s;
    -o-transition: right ease-in-out 0.25s;
    -webkit-transition: right ease-in-out 0.25s;
    transition: right ease-in-out 0.25s; }
    .queue-item-remove span {
      background: #90030c;
      color: #fff;
      width: 20px;
      height: 20px;
      line-height: 18px;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .queue-item:hover, .queue-item:focus {
    outline: none;
    background: #222; }
  .queue-item:hover .queue-item-remove {
    right: 0; }
  .queue-item:hover .queue-item-duration {
    opacity: 0; }

.touch .queue-item-duration {
  display: none; }

.touch .queue-item-remove {
  right: 0; }

.player {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: absolute;
  top: 0;
  left: 0;
  background: #151515; }
  .player-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.queue-enter {
  max-height: 0;
  opacity: 0;
  padding: 0 !important;
  -ms-transform: translate(-120%, 0);
  -webkit-transform: translate(-120%, 0);
  transform: translate(-120%, 0);
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }
  .queue-enter-active {
    max-height: 60px;
    opacity: 1;
    padding: 10px !important;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.queue-leave {
  max-height: 60px;
  opacity: 1;
  padding: 10px !important;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }
  .queue-leave-active {
    max-height: 0;
    opacity: 0;
    padding: 0 !important;
    -ms-transform: translate(120%, 0);
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0); }

.browse-enter {
  max-height: 0;
  padding: 0 !important;
  -ms-transform: translate(-120%, 0);
  -webkit-transform: translate(-120%, 0);
  transform: translate(-120%, 0);
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }
  .browse-enter-active {
    max-height: 60px;
    padding: 10px !important;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.browse-leave {
  max-height: 60px;
  padding: 10px !important;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }
  .browse-leave-active {
    max-height: 0;
    padding: 0 !important;
    -ms-transform: translate(120%, 0);
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0); }

html {
  background: #000; }

html,
body,
#main {
  height: 100%;
  overflow: hidden; }

#main {
  background: #000;
  position: relative; }

@media (min-width: 1000px) {
  html {
    padding: 20px; } }
