@import 'vars.scss';
@import 'mixins.scss';
@import 'reset.scss';
@import 'typography.scss';
@import 'elements.scss';
@import 'app.scss';
@import 'dashboard.scss';
@import 'browse.scss';
@import 'queue.scss';
@import 'player.scss';
@import 'animations.scss';

html { background:$bodyColor; }

html, 
body,
#main {
	height:100%;
	overflow:hidden;
}

#main {
	background:$bodyColor;
	position:relative;
}

@media (min-width: 1000px) {
	html { padding:20px;}
}